$background: #141318;
$foreground: #e5e1e9;
$select:     #2b292f;

$pink:       #623b4c;
$purple:     #c9c3dc;
$red:        #ffb4ab;
$orange:     #edb8cd;
$yellow:     #484459;
$green:      #483f77;
$blue:       #c9beff;
$gray:       #938f99;

$main-blue:  #c9beff;
$white:      #e5e1e9;
$cyan:       #edb8cd;
