* {
    background:          #14131800;
    background-solid:    #141318;
    background-alt:      #2b292f;
    foreground:          #e5e1e9;
    selected:            #c9beff;
    selected-text-color: #31285f;
    active:              #edb8cd;
    urgent:              #ffb4ab;
    dim:                 #938f99;
}
