* {
    background:          #12140d00;
    background-solid:    #12140d;
    background-alt:      #292b23;
    foreground:          #e3e3d7;
    selected:            #bbcf82;
    selected-text-color: #283500;
    active:              #a1d0c6;
    urgent:              #ffb4ab;
    dim:                 #909284;
}
