$background: {{colors.surface.default.hex}};
$foreground: {{colors.on_surface.default.hex}};
$select:     {{colors.surface_container_high.default.hex}};

$pink:       {{colors.tertiary_container.default.hex}};
$purple:     {{colors.secondary.default.hex}};
$red:        {{colors.error.default.hex}};
$orange:     {{colors.tertiary.default.hex}};
$yellow:     {{colors.secondary_container.default.hex}};
$green:      {{colors.primary_container.default.hex}};
$blue:       {{colors.primary.default.hex}};
$gray:       {{colors.outline.default.hex}};

$main-blue:  {{colors.primary.default.hex}};
$white:      {{colors.on_surface.default.hex}};
$cyan:       {{colors.tertiary.default.hex}};
